ngo_management(3).xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ngo_management">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="donor" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="donor_id"/>
              <xs:element type="xs:string" name="donor_name"/>
              <xs:element type="xs:string" name="donor_address"/>
              <xs:element type="xs:short" name="donor_phone"/>
              <xs:element type="xs:string" name="donor_mail" minOccurs="0"/>
              <xs:element type="xs:string" name="empmail" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>